[flake8]
# ignore all missing‐docstring and nested‐class checks
ignore =
    D100, D101, D102, D103, D104, D105, D200, D205, D400, D106
# ignore missing‐annotation checks
    , ANN001, ANN102, ANN201, ANN206
# relax line length
max-line-length = 100
# typical Black ignores
extend-ignore = E203, W503
